<% provide(:title,  "Profile(１対１)") %>

<%= link_to '編集', edit_users_profile_path, class: 'btn btn-outline-success mb-3' %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Profile(１対１)</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <table class="table table-sm">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>key</th>
          <th>value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>年齢</td>
          <td>
            <%= @profile.age %>
          </td>
        </tr>
        <tr>
          <td>2.</td>
          <td>住所</td>
          <td>
            <%= @profile.address %>
          </td>
        </tr>
        <tr>
          <td>3.</td>
          <td>電話</td>
          <td>
            <%= @profile.tel %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>