
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Quick Example</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <%= form_with model: @article, url: users_articles_path do |f| %>
      <%= render 'form', f: f %>

      <div class="card-footer">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
